{% extends "jinja/template/jinja_template.html" %}

{% block title %}Jinja{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Jinja</h1>
      <hr>

      <h4>Accessing an objects value</h4>
      <hr>
      <p>Hello {{ my_name }}!</p>

      <strong class="d-block mb-3">Programming languages</strong>
      <ul>
        {% for lang in langs %}
        <li>{{ lang }}</li>
        {% endfor %}
      </ul>

      <ul>
      {% for name, age in friends.items() %}
        <li>{{ name }} - {{age}}</li>
      {% endfor %}
      </ul>

      <p>{{ repeat("Jinja is great ", 10) }}</p>

      <p>{{ my_remote.description }}</p>

    </div>
  </div>
</div>

{% endblock %}
